#logo-container {
    height: 200px;
    background-image: url("../images/FloridaManUpdate_hdr.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
  }

body,
html {
    height: 100%;
    margin: 0;
}

.bg {
    /* The image used */
    background-image: url("../images/gator_guy.png");
    /* Full height */
    height: 100%;
    /* Center and scale */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    position: relative;
}

 a {color:#110D0D;}



a:visited {color:#0000ff;text-decoration: none; }
a:hover {color:#ffcc00;text-decoration: none; }


.affix {
    top: 0;
    width: 100%;
    z-index: 9999 !important;
}

.navbar {
    margin-bottom: 0px;
}

.affix~.container-fluid {
    position: relative;
    top: 50px;
}

.jumbotron {
    padding: 20px;
    width: 700px; 
    margin: 40px;
    line-height: .5;
    font-size: 20px;
    color: #F76C15;
    background-color: blue;
    
}

.btn-primary {
    float: right;
}

#storySave {
    position: relative;
    width: 475px; 
    background-color: #CE2727;
  
    
}


#section1 {
    padding-top: 50px;
    height: 500px;
    color: #fff;
    background-color: #1E88E5;
    
}

#section2 {
    padding-top: 50px;
    height: 500px;
    color: #fff;
    background-color: #673ab7;
}

#section3 {
    padding-top: 50px;
    height: 500px;
    color: #fff;
    background-color: #ff9800;
}

#section41 {
    padding-top: 50px;
    height: 500px;
    color: #fff;
    background-color: #00bcd4;
}

#section42 {
    padding-top: 50px;
    height: 500px;
    color: #fff;
    background-color: #009688;
}

.bg2 {
    /* The image used */
    background-image: url("../images/floridaman_bg2.png");
    /* Full height */
    height: 100%;
    /* Center and scale */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}